<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="motivational"
    		class="com.setterdemo.spring.HappyMotivation">
    
    </bean>
    
    <bean id="thecoach"
    		class="com.setterdemo.spring.CricketCoach">
    		<property name="motivation" ref="motivational"></property>
    </bean>
    
 	
   

</beans>





